.u-section-1 {
  background-image: url("images/wdq1.jpg");
  background-position: 50% 50%;
  min-height: 818px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 852px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 42px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 6px;
  line-height: 1;
  font-size: 1.25rem;
  font-weight: 400;
  animation-duration: 2000ms;
  font-family: Cocon-Regular-Font;
  margin: 76px 16px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  background-image: none;
  text-transform: none;
  animation-duration: 1750ms;
  font-weight: 700;
  font-family: Cocon-Regular-Font;
  margin: 75px 0 0 16px;
}

.u-section-1 .u-image-1 {
  min-height: 852px;
  background-image: url("images/Homepage-011.JPG");
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 525px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 703px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.75rem;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    background-position: 50% 50%;
    min-height: 703px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 360px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 0.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 595px;
  }

  .u-section-1 .u-layout-cell-1 {
    order: 0;
    min-height: 225px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 30px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 16px;
  }

  .u-section-1 .u-image-1 {
    order: 1;
    min-height: 673px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 626px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 202px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-image-1 {
    min-height: 631px;
  }
}.u-section-2 {
  min-height: 509px;
  background-image: none;
}

.u-section-2 .u-text-1 {
  font-family: Cocon-Regular-Font;
  margin: 41px 285px 0 286px;
}

.u-section-2 .u-icon-1 {
  color: rgb(20, 83, 232) !important;
  margin-top: 0;
}

.u-section-2 .u-list-1 {
  margin-top: 68px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  min-height: 294px;
  grid-template-columns: calc(25% - 28.5px) calc(25% - 28.5px) calc(25% - 28.5px) calc(25% - 28.5px);
  grid-gap: 38px 38px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 185px;
  width: 297px;
  margin: 33px -1px 0 auto;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px 33px 0 auto;
  padding: 10px 64px;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-image-2 {
  height: 185px;
  width: 297px;
  margin: 33px -1px 0 auto;
}

.u-section-2 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px 33px 0 auto;
  padding: 10px 64px;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-image-3 {
  height: 185px;
  width: 297px;
  margin: 33px -1px 0 auto;
}

.u-section-2 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px 33px 0 auto;
  padding: 10px 64px;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-image-4 {
  height: 185px;
  width: 297px;
  margin: 33px -1px 0 auto;
}

.u-section-2 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 11px 33px 0 auto;
  padding: 10px 64px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: 729px;
    margin-right: calc(((100% - 1140px) / 2) + -28px);
    margin-left: calc(((100% - 1140px) / 2) + 439px);
  }

  .u-section-2 .u-repeater-1 {
    min-height: 242px;
  }

  .u-section-2 .u-image-1 {
    margin-top: 0;
    filter: brightness(0.95);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-1 {
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    margin-top: 0;
    filter: brightness(0.95);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-2 {
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    margin-top: 0;
    filter: brightness(0.95);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-3 {
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    margin-top: 0;
    filter: brightness(0.95);
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-btn-4 {
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 {
    min-height: 952px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 33px;
    margin-right: calc(((100% - 720px) / 2) + -33px);
    margin-left: calc(((100% - 720px) / 2) + 33px);
  }

  .u-section-2 .u-list-1 {
    margin-top: 76px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: calc(50% - 19px) calc(50% - 19px);
    min-height: 741px;
  }

  .u-section-2 .u-image-1 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-2 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-3 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-image-4 {
    height: 283px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-2 {
    min-height: 1464px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-image-1 {
    height: 425px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 24px;
    margin-left: 178px;
  }

  .u-section-2 .u-image-2 {
    height: 425px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 24px;
    margin-left: 178px;
  }

  .u-section-2 .u-image-3 {
    height: 425px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 24px;
    margin-left: 178px;
  }

  .u-section-2 .u-image-4 {
    height: 425px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 24px;
    margin-left: 178px;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 1438px;
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 340px) / 2) + -15px);
    margin-left: calc(((100% - 340px) / 2) + 15px);
  }

  .u-section-2 .u-image-1 {
    height: 268px;
    margin-top: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 8px;
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    height: 268px;
    margin-top: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-2 {
    margin-top: 8px;
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    height: 268px;
    margin-top: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-3 {
    margin-top: 8px;
    margin-right: 85px;
    margin-left: 0;
  }

  .u-section-2 .u-image-4 {
    height: 268px;
    margin-top: 27px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-btn-4 {
    margin-top: 8px;
    margin-right: 85px;
    margin-left: 0;
  }
}@font-face {
  font-family: 'Cocon-Regular-Font';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Cocon-Regular-Font.zip);
}@font-face {
  font-family: 'CoconLight';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/CoconLight.zip);
}